@import "tailwindcss";
*{
    color: white;
    box-sizing: border-box;
}
body{
    background-color: #111;
}
#tasklist::-webkit-scrollbar{
    display: none;
}
#allTask::-webkit-scrollbar{
    display: none;
}